body {
  font-family: "배달의민족 주아", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f3;
}

label {
  display: block;
  margin-top: 1rem;
}

select,
input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0.5rem 0 1rem 0;
}

.calcName {
  display: inline-block;
  margin-top: 15px;
}

.barButton {
  padding: 0.2rem 0.2rem;
  font-size: 1rem;
  background-color: #66d7c6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.2rem;
  flex-direction: none;
}

#frameCalculate,
#ledCalculate {
  border: 1px solid rgb(231, 213, 213);
  padding: 30px;
}

.ledButton,
.calcButton,
.frameButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.5rem;
}

.result,
#result {
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  input,
  select,
  button {
    max-width: 300px;
  }
}
